body {
    background-color: #ffffff;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
.img_device {
    width: 550px;
    height: 500px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 100px;
}
.header_logo {
    width: 160px;
}
.header_menu {
    display: inline;
}
.header_a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}
.header_a--blue {
    background-color: #664efc;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.bars {
    display: none;
}
.header_p {
    display: inline;
}
.first {
    background-color:#fdfcf9;
    padding-top: 50px;
}
.first_container {
    margin: 0 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
}
.body_container {
    width: 620px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.clientes {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
.img_clientes {
    margin-top: 20px;
}
h1{
    font-size: 65px;
    margin: 0;
}
p {
    font-size: 19px;
}

.second_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    margin-bottom: 100px
}
.second_two {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;

}
.img_phone {
    width: 500px;
}
.second_body {
    width: 700px;
}
h2 {
    font-size: 45px
}
.bold {
    font-weight: bold;
    color: #664efc;
    text-decoration: none;
}
.second_socialmedia {
    width: 400px;
}
.aa {
    display: flex;
}
footer {
    background-color:#fdfcf9;
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    margin: 0 100px 0;

}
.last {
    background-color: #fdfcf9;
    padding-top: 100px;
}
h3 {
    font-weight: bold;
}
.footer_message {
    width: 400px;

}
.footer_ul {
    margin-left: 40px;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.footer_a {
    color: black;
    text-decoration: none;
}
@media screen and (max-width: 1200px){
    header {
        margin: 0 60px 100px;
    }

    .first_container {
        flex-direction: column-reverse;
        align-items: center;      
        margin: 0 60px;
    }
    .body_container {
        justify-self: left;
    }
    .img_device{
        width: 400px;
        height: 350px;
    }
    h2 {
        font-size: 20px;
    }
    .second_one {
        margin: 0 60px;

    }
    .second_body {
        width: 350px;
    }
    .second_socialmedia {
        width: 250px;
    }
    .second_two {
        margin: 40px 60px;

    }
    .img_phone {
        width: 250px;
    }
    footer {
        margin: 0 60px;
    }

    .aa {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 650px){

    header {margin: 0 20px 80px;}
    .bars {
        display:block;
    }

    .header_menu {
        display: none;
    }
    .header_logo {
        width: 100px;
    }
    .img_device {
        width: 250px;
        height: 200px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 15px;
    }
    .img_phone {
        margin-top: 50px;
    }
    .first_container {
        margin: 0 20px;
    }
    .body_container {
        width: 340px;
    }
    .second_socialmedia {
        width: 300px;
    }
    .second_body {
        width: 340px;
    }
    .second_one {
        flex-direction: column-reverse;
        margin: 0 20px;
    }
    .second_two {
        margin: 0 20px;
        flex-direction: column;
    }
    footer {
        margin: 0 20px;

    }
    
    
}